n8n/workflows/02-reply-handler.json
{
  "name": "02 - Reply handler",
  "nodes": [
    {
      "parameters": {
        "pollTimes": { "item": [{ "mode": "everyMinute" }] },
        "simple": false,
        "filters": { "readStatus": "unread" },
        "options": {}
      },
      "id": "b2c3d4e5-0001-4000-8000-000000000001",
      "name": "Gmail Trigger: new reply",
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.2,
      "position": [-560, 0],
      "credentials": {
        "gmailOAuth2": { "id": "REPLACE_WITH_GMAIL_CREDENTIAL_ID", "name": "Operator Gmail" }
      }
    },
    {
      "parameters": {
        "jsCode": "const text = `${$json.subject ?? ''} ${$json.snippet ?? ''}`.toLowerCase();\nconst meetingWords = ['meeting', 'call', 'schedule', 'calendar', 'book a time'];\nconst classification = meetingWords.some((w) => text.includes(w)) ? 'meeting_booked' : 'replied';\nreturn [{ json: { fromEmail: $json.from, classification } }];"
      },
      "id": "b2c3d4e5-0002-4000-8000-000000000002",
      "name": "Classify reply",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-320, 0]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{$env.API_BASE_URL}}/businesses",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "q", "value": "={{$json.fromEmail}}" },
            { "name": "limit", "value": "1" }
          ]
        },
        "options": {}
      },
      "id": "b2c3d4e5-0003-4000-8000-000000000003",
      "name": "Look up business by email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-80, 0]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{$json.data.length}}",
              "rightValue": 0,
              "operator": { "type": "number", "operation": "gt" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b2c3d4e5-0004-4000-8000-000000000004",
      "name": "IF: business found",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [160, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.API_BASE_URL}}/webhooks/email-reply",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "X-Webhook-Secret", "value": "={{$env.N8N_WEBHOOK_SECRET}}" }]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"businessId\": $json.data[0].id, \"classification\": $('Classify reply').item.json.classification } }}",
        "options": {}
      },
      "id": "b2c3d4e5-0005-4000-8000-000000000005",
      "name": "Callback: email-reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [400, -100]
    },
    {
      "parameters": {},
      "id": "b2c3d4e5-0006-4000-8000-000000000006",
      "name": "No matching business — no-op",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [400, 120]
    }
  ],
  "connections": {
    "Gmail Trigger: new reply": {
      "main": [[{ "node": "Classify reply", "type": "main", "index": 0 }]]
    },
    "Classify reply": {
      "main": [[{ "node": "Look up business by email", "type": "main", "index": 0 }]]
    },
    "Look up business by email": {
      "main": [[{ "node": "IF: business found", "type": "main", "index": 0 }]]
    },
    "IF: business found": {
      "main": [
        [{ "node": "Callback: email-reply", "type": "main", "index": 0 }],
        [{ "node": "No matching business — no-op", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "meta": { "templateCredsSetupCompleted": false },
  "id": "02-reply-handler",
  "tags": ["omnistacks", "outreach"]
}
